*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ancho{
    max-width: 1200px;
    margin: auto;
}

body{
    background-color: #FDF9F0;
}

#line-pinkhd{
    border: 0.5px #E5357E solid;
    background-color: #E5357E ;
    height: 12px;
}

.iconos a i{
    color: black;
}

.iconos a > i{
    font-size: 45px;
}

.hd{
    margin-top: 20px;
    display: grid;
    grid-template: auto/repeat(2, 1fr);
}

.hd div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    margin: 0 20px 0 20px;
}

/* nav */

nav{
    margin-bottom: 20px;
    border: 3px  black solid;
    padding: 10px;
}

.menu{
    display: grid;
    grid-template: auto/repeat(4,1fr);
    list-style: none;
}

.menu li{
    text-align: center;
}

.menu li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 16px;
}

/* section image */

.bg-image{
    margin-top: 30px;
    background-image: url(/img/fondopiedras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.bg-image article h1{
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: white;
}

.bg-image article h2{
    font-family: 'Arial', sans-serif;
    font-weight: 550;
    font-size: 20px;
    color: white;
    width: 700px;
    margin: 20px 0 40px 0;
}

.btn-spa{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border: 3px #E5357E solid;
    display: inline-block;
    background-color: #E5357E;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.btn-spa:hover{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border: 3px #E5357E solid;
    display: inline-block;
    background-color: transparent;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Sciencie of Beauty */

.bg-blanco{
    background-color: white;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.bg-blanco div{
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    width: 700px;
    margin-left: 30px;
}

.bg-blanco div h1{
    font-size: 25px;
    font-weight: 900;
}

.bg-blanco div h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 40px;
}

.bg-blanco figure img{
    filter: grayscale();
    transition: 1s;
    align-items: center;
    margin-top: 20px;
}
.bg-blanco:hover figure img{
    filter: none;
    transition: 1s;
}

/* Aromatizante */

.aromatizante{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aromatizante div h1{
    text-align: center;
}

.aromatizante div h1{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.aromatizante-blog{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.aromatizante-blog figure img{
    border-radius: 15px;
    width: 560px;
    max-width: 560px;
}

.texto article p{
    line-height: 30px;
    font-size: 14px;
}

.texto{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
