@media screen and (max-width: 415px) {
    .ancho{
        max-width: 390px;
        margin: auto;
    }

    .hd{
        margin-top: 10px;
        grid-template: 100px 20px/auto;
    }

    .hd figure{
        margin: auto;
    }

    .hd div{
        justify-content: center;
        margin: 60px 0 0 0;
    }

    .menu {
        display: grid;
        grid-template: none;
        grid-template-columns: auto/repeat(4,1fr);
        list-style: none;
    }

    .menu li{
        text-align: left;
        width: 100%;
        padding: 10px 0;
        border-bottom: 2px black dotted;
    }

    .menu li a{
        margin: 0 0 0 20px;
    }

    .marg{
        margin-top: 80px;
    }

    /* .bg-image{
        height: 500px;
    } */

    .bg-image article h2{
        font-family: 'Arial', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: white;
        width: 350px;
        text-align: center;
    }
    .bg-image article h1{
        width: 350px;
        font-family: 'Arial', sans-serif;
        font-weight: bolder;
        font-size: 32px;
        color: white;
        text-align: left;
    }

    /* Sciencie of Beauty */

    .bg-blanco figure{
        width: auto;
        justify-content: center;
    }

    .bg-blanco figure img{
        width: auto;
        max-width: 390px;
        margin-left: 0;
    }

    .bg-blanco{
        flex-direction: column-reverse;
        height: auto;
        gap: 20px;
        width: auto;
        max-width: 414px;
    }

    .bg-blanco div{
        font-family: 'Roboto', sans-serif;
        margin-top: 0px;
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    /* Aromatizante */

    .aromatizante-blog{
        display: flex;
        flex-direction: column;
    }

    .aromatizante-blog figure img{
        width: 390px;
    }

    .texto{
        gap: 20px;
    }
}